@font-face {
  font-family: 'Futura Cyrillic';
  src:
    url('/fonts/FuturaCyrillicMedium.woff2') format('woff2'),
    url('/fonts/FuturaCyrillicMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Cyrillic Book';
  src:
    url('/fonts/FuturaCyrillicBook.woff2') format('woff2'),
    url('/fonts/FuturaCyrillicBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
