html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  font-family: 'Futura Cyrillic', sans-serif;
  font-size: 22px;
  color: var(--white);
  overscroll-behavior: none;

  * {
    user-select: none !important;
    -webkit-highlight: none !important;
  }
}
