p,
.p {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10%;

  &.default {
    font-size: 32px;

    &:where(.is-mobile *) {
      font-size: 18px !important;
      padding: 0 32px;
    }
  }
}
