@use './_reset.scss';
@use './_easings.scss';
@use './_variables.scss';
@use './_fonts.scss';
@use './_typography.scss';
@use './_transitions.scss';
@use './_layout.scss';

.tp-dfwv {
  position: fixed !important;
  right: 8px !important;
  display: none;
}

html[lang='ar'] {
}

html {
  &.electron {
    cursor: none !important;
  }

  position: fixed;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
